<tr>
    <td>Invoice Code</td>
    <td>Invoice Type</td>
    <td>Date</td>
    <td>
        <button class="btn btn-outline-warning">
            <i class="bi bi-pencil-square"></i>
        </button>
        <a class="btn btn-outline-danger">
            <i class="bi bi-trash"></i>
        </a>
    </td>
</tr>

@code {

}