<tr>
    <td>@ItemCode</td>
    <td>@ItemName</td>
    <td>
        <button class="btn btn-outline-warning" @onclick="NavigateToItemForm">
            <i class="bi bi-pencil-square"></i>
        </button>
        <a class="btn btn-outline-danger" @onclick="() => OnDelete.InvokeAsync(ItemID)">
            <i class="bi bi-trash"></i>
        </a>
    </td>
</tr>

@code {
    [Parameter]
    public string ItemName { get; set; }
    [Parameter]
    public string ItemCode { get; set; }
    [Parameter]
    public int ItemID { get; set; }
    [Parameter]
    public Item _singleItem { get; set; }
    [Parameter]
    public EventCallback<int> OnDelete { get; set; }
    [Parameter]
    public EventCallback<int> OnEdit { get; set; }
    [Inject]
    private NavigationManager NavigationManager { get; set; }

    private void NavigateToItemForm()
    {
        OnEdit.InvokeAsync(ItemID);
        NavigationManager.NavigateTo($"/Item/Form/{ItemID}");
        StateHasChanged();
    }


}