@page "/"

<PageTitle>Home</PageTitle>

<h1>E-Invoice Management System</h1>

<div class="my-5 mx-auto w-50">
    <img src="image-0.png" class="w-100" alt="Alternate Text" />
</div>

<div class="container mt-5">
    <h2 class="mt-4">Overview</h2>
    <p>
        Welcome to the E-Invoice Management System, a powerful solution designed to streamline invoicing processes for businesses of all sizes. Built using the latest Blazor .NET 8 framework, this system offers a modern, intuitive interface for managing invoices efficiently.
    </p>
    <hr />
    <h2 class="mt-4">Key Features:</h2>
    <ul>
        <li class="mb-2">
            <strong>Comprehensive Item Management:</strong>
            <br />
            Effortlessly manage a diverse range of products and services with our Item model, enabling you to categorize, track, and maintain your inventory with ease.
        </li>
        <li class="mb-2">
            <strong>Dynamic Tax Calculation:</strong><br />
            Our Tax model allows for flexible tax management, ensuring accurate calculations and compliance with regional regulations. The system supports multiple tax types, making it adaptable to various business needs.
        </li>
        <li class="mb-2">
            <strong>Customer Relationship Management:</strong> <br />
            Keep track of your customers with our Customer model, which stores essential information and helps you maintain strong relationships by tracking invoices and transactions.
        </li>
        <li class="mb-2">
            <strong>Robust Invoice Generation:</strong><br />
            The Invoice model enables quick and efficient generation of invoices, integrating item details and tax calculations seamlessly. This feature ensures that you can produce professional invoices that meet your business requirements effortlessly.
        </li>
    </ul>
    <hr />
    <h2 class="mt-4">Why Choose Our E-Invoice System?</h2>
    <p>
        Our E-Invoice Management System not only enhances efficiency and accuracy but also simplifies the invoicing experience, allowing businesses to focus on growth and customer satisfaction. Experience the future of invoicing with our state-of-the-art platform.
    </p>
</div>
