@page "/Item/Form"
@page "/Item/Form/{ItemID:int?}"
@inject HttpClient Http
@inject ItemService itemService

<h3>ItemsForm</h3>

<div class="container my-5">
    <EditForm Model="@_item" OnValidSubmit="SendData">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="my-3">
            <InputText @bind-Value="_item.Code" class="form-control" placeholder="Item Code" />
        </div>
        <div class="my-3">
            <InputText @bind-Value="_item.Name" class="form-control" placeholder="Item Name" />
        </div>
        <div class="my-3">
            @if (ItemID.HasValue)
            {
                <button type="submit" class="btn btn-warning">
                    <i class="bi bi-arrow-repeat"></i> Update
                </button>
            }
            else
            {
                <button type="submit" class="btn btn-success">
                    <i class="bi bi-file-earmark-plus-fill"></i> Save
                </button>
            }
            <NavLink href="/Item" class="btn btn-secondary mx-2">
                <i class="bi bi-arrow-return-right"></i> Return Back
            </NavLink>
        </div>
    </EditForm>
</div>

@code {
    private ItemDTO _item = new ItemDTO();

    [Parameter]
    public int? ItemID { get; set; }


    protected override async Task OnInitializedAsync()
    {
        if (ItemID.HasValue)
        {
            if (itemService.ItemProperty != null)
            {
                _item.Code = itemService.ItemProperty.Code;
                _item.Name = itemService.ItemProperty.Name;
            }
        }
    }

    private async Task SendData()
    {
        if (ItemID.HasValue)
        {
            await Update();
        }
        else
        {
            await Save();
        }
    }

    private async Task Save()
    {
        try
        {
            var response = await Http.PostAsJsonAsync("api/Item/Form", _item);
            if (response.IsSuccessStatusCode)
            {
                var newItem = await response.Content.ReadFromJsonAsync<ItemDTO>();
            }
            else
            {
                var errorMessage = await response.Content.ReadAsStringAsync();
                Console.WriteLine($"Error: {errorMessage}");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error saving item: {ex.Message}");
        }
    }

    private async Task Update()
    {
        try
        {
            var response = await Http.PutAsJsonAsync($"api/Item/Form/{ItemID}", _item);
            if (response.IsSuccessStatusCode)
            {
                var newItem = await response.Content.ReadFromJsonAsync<ItemDTO>();
            }
            else
            {
                var errorMessage = await response.Content.ReadAsStringAsync();
                Console.WriteLine($"Error: {errorMessage}");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error saving item: {ex.Message}");
        }
    }
}
